<p id="notice"><%= notice %></p>

<h1>Turns</h1>

<table class="table table-hover-responsive">
  <thead class="thead-inverse">
    <tr>
      <th scope="row">Fecha de inicio</th>
      <th scope="row">Fecha de fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.start_date %></td>
        <td><%= turn.end_time %></td>
        <td><%= link_to 'Show', turn %></td>
        <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
        <td><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Turno', new_turn_path %>
