<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @turn.start_date %>
</p>

<p>
  <strong>End time:</strong>
  <%= @turn.end_time %>
</p>

<%= link_to 'Edit', edit_turn_path(@turn) %> |
<%= link_to 'Back', turns_path %>
