<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @turn.start_date %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @turn.end_time %>
</p>

<%= link_to 'Editar', edit_turn_path(@turn) %> |
<%= link_to 'Atras', home_index_path%>
