<p id="notice"><%= notice %></p>

<h1>Turnos</h1>

<table>
  <thead>
  <tr>
    <th>Comienzo</th>
    <th>Fin</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.start_date %></td>
        <td><%= turn.end_time %></td>
        <td><%= link_to 'Ver', turn %></td>
        <td><%= link_to 'Editar', edit_turn_path(turn) %></td>
        <td><%= link_to 'Eliminar', turn, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Nuevo Turno', new_turn_path %>
