<!--<p id="notice"><# notice %></p>-->

<h1>Usuarios</h1>

<table class="table table-hover-responsive">
  <thead class="thead-inverse">
  <tr>
    <th scope="row">Email</th>
    <!--<th scope="row">Crypted password</th>-->
    <!--<th scope="row">Salt</th>-->
    <th scope="row" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <!--<td><# user.crypted_password %></td>-->
        <!--<td>< user.salt %></td>-->
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<span class="iconic iconic-star" title="star"></span>
<br>


<h1>Recursos</h1>

<table  class="table">
  <thead>
  <tr>
    <th scope="row">Nombre</th>
    <th scope="row" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<button type="button" class="btn btn-primary">
<%= link_to 'Nuevo Usuario', new_user_path ,{:style=>"color:#fff;"}%>
</button>
<br><br>
<button type="button" class="btn btn-primary">
<%= link_to 'Nuevo Recurso', new_resource_path,{:style=>"color:#fff;"} %>
</button>